.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;

  mat-form-field {
    width: 100%;
  }

}
.navbar-brand{
color: white;

}
.toolbar{
  height: 55px;
  background-color: #111;
}
.a{
width: 100%;
}